---
# Common role - Main tasks
# Applied to all EC2 instances for base configuration

- name: Set hostname based on instance tags
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
  tags:
    - common
    - hostname

- name: Configure timezone to UTC
  community.general.timezone:
    name: UTC
  tags:
    - common
    - timezone

- name: Ensure Amazon SSM Agent is enabled and running
  ansible.builtin.systemd:
    name: amazon-ssm-agent
    state: started
    enabled: true
  register: ssm_agent_status
  failed_when: false
  tags:
    - common
    - ssm

- name: Deploy MOTD template
  ansible.builtin.template:
    src: motd.j2
    dest: /etc/motd
    owner: root
    group: root
    mode: '0644'
  tags:
    - common
    - motd

- name: Include packages tasks
  ansible.builtin.include_tasks: packages.yml
  tags:
    - common
    - packages

- name: Include users tasks
  ansible.builtin.include_tasks: users.yml
  tags:
    - common
    - users

- name: Include security tasks
  ansible.builtin.include_tasks: security.yml
  tags:
    - common
    - security
